<button id="addFormButtonDEMO">Add Form</button>
<div id="formContainer">smoeyhibceb</div>


<script type="text/javascript" src="demo.js"></script>

<!-- Add this funtionality to the forms after ficing css/js bug on the mulstiple forms on the index file  -->

<!-- 
    TO DO :
     Add a plus icon / btn ater the data-points registered as possible extensible forms ie Work experience & education
     Add the other forms that have not been included, ignore the timestamp role, updated on and template id
    
    Expected behaviour :
    - When user presents the add form button, a form is added to the form container
    - Maintain the simplity of the form
-->
